*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display:flex;
    align-items:center;
    justify-content:center;
    height:90vh;
    background:rgb(194, 215, 162);
}
.container{
    width:600px;
    background:#fff;
    border-radius:15px;
    padding:30px 30px 25px;
}
.container header{
    font-size:35px;
    font-weight:600;
    text-align:center;
}
.container .content{
margin:35px 0;
}
.container .quote-area{
    display:flex;
    justify-content:center;
}
.quote-area img{
    width: 10px;
    height:10px;
}
.quote-area img:first-child{
    margin:3px 10px 0 0;
}
.quote-area img:last-child{
    /* display:flex; */
    margin:0 0 3px 10px;
    }
 .quote-area .quote{
        font-size:22px;
        text-align:center;
        word-break:break-all;
    }
.quote-area #left{
    transform:rotateX(180deg);
}
.content .author{
    display:flex;
    margin-top:20px;
    font-style: italic;
    justify-content:flex-end;
}
.author span:first-child{
    margin:-7px 5px 0 0;
    font-family:monospace;
}
.container .buttons{
    margin-top:30px;
    border-top:1px solid #ccc;
}
.buttons .features{
display:flex;
align-items:center;
margin-top:20px;
justify-content: space-between;
}
.features ul{
    display:flex;
}
.features ul li{
    list-style:none;
    margin:0 5px;
    border-radius:50%;
    width:35px;
    height:37px;
    color:blue;
    border:2px solid #5372F0;
    display:flex;
    align-items:center;
    justify-content:center;
}
.features ul li:hover{
    color:#fff;
    background:#5372F0;
}
.features button{
    border:none;
    outline:none;
    color:#fff;
    cursor:pointer;
    font-style:16px;
    padding:13px 22px;
    border-radius:30px;
    background:#5372F0;
}
button .loading{
    opacity:0.7;
    pointer-events:none;
}